table  {
    border :"2px";
    padding: 5px;
    width: auto;
    margin: 20px;
}

th {
    text-align: left;
    padding: 15px;
    background-color: #f58608;
    color: black;
    height: 50px;
}

tr {
    padding: 15px;
}

tr:hover {
    background-color: rgb(138, 225, 247);
}

td {
    text-align: left;
    padding: 15px;
}

b {
    padding: 15px;
}

ul {
    list-style-type: none;
    
    display: inline-block;
  }

li {
    padding: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

li.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

li:hover:not(.active) {
    background-color: #ddd;
}

button {
  background-color: #93fa7e;
  border: none;
  color: rgb(151, 233, 253);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
    background-color: rgb(231, 237, 238);
}

